{% extends 'index.html' %}
{% block bodyblock %}
<div class="container">
    <br><br>
    <h3 class="display-8">Face recognisation app</h3>

    <p>
        This is a basic web application for recognising to identify male and female<br>
            this is possible by traing the male and female data. Er are using ML model for the same.
    </p>
    <img src="/static/images/002.PNG" class="image-fluid" height="300" alt="">
    <a href="/app/gender" class="btn btn-outline-primary">Find Gender</a>
    
</div>

{% endblock %}